// GENERAL 

html
	font-size 1em
	line-height 1.4
	color #222

body
	font 16px/26px 'Source Sans Pro', Helvetica, Helvetica Neue, Arial

audio,
canvas,
img,
video
	vertical-align middle
h2,
h3
	text-transform uppercase
h2
	font-size 36px
h3
	font-size 26px
	text-decoration underline
a
	color #FCFFF5
	text-decoration none
	&:hover
		color #E62240

.browsehappy
	margin 0.2em 0
	background #ccc
	color #212121
	padding 0.2em 0

.wrapper
	width 90%
	margin 0 auto
#bits-pieces
	padding-bottom 20px
i.fa
	display block
	padding 10px
.main a
	color #222
i a:hover
	text-decoration underline solid #212121
	color #E62240
	font-weight 700

// HEADER & FOOTER

.header-container,
.footer-container
	background #1E1E20
.footer-container footer
	color #FCFFF5
	padding 10px 0
	font-size 14px
	line-height 2em

.title
	color #FCFFF5
	font-size 42px
	font-family 'Rochester', serif
	
.ie7 .title
	padding-top 20px
a.fa
	padding-right 5px

// NAVIGATION SECTION

nav ul
	margin 0
	padding 0

nav a
	display block
	margin-bottom 10px
	padding 15px 0
	font-size 20px
	text-align center
	font-weight 700
	text-transform uppercase
	
	
// ABOUT SECTION

#about
	max-width 280px
	margin 50px auto
.about-img
	max-width 200px
	margin 10px auto
#profile
	width 200px
	height 200px
	border-radius 50%
.about-img
	margin-top 2em

// PROJECT SECTION

#projects
	max-width 280px
	margin 50px auto
.project-content
	padding-bottom 10px
.project-img
	max-width 280px
	margin 0 auto

		
@media only screen and (min-width: 480px)
	nav a
		float left
		width 27%
		margin 0 1.7%
		padding 25px 2%
		margin-bottom 0
	nav li:first-child a
		margin-left 0
	nav li:last-child a
		margin-right 0
	nav ul li
		display inline
	.oldie nav a
		margin 0 0.7%
	#about
		max-width 420px
	.about-img
		max-width 250px
	#profile
		width 250px
		height 250px
	#projects
		max-width 420px
	.project-img
		max-width 420px

@media only screen and (min-width: 768px)
	.header-container
		-webkit-box-shadow 0 3px 3px #000
		-moz-box-shadow 0 3px 3px #000
		box-shadow 0 3px 3px #000
	.title
		float left
	nav
		float right
		width 50%
	#about
		max-width 650px
	#projects
		max-width 650px
	.project-img
		max-width 650px

@media only screen and (min-width: 1140px)
	.wrapper
		width 1026px /* 1140px - 10% for margins */
		margin 0 auto
	.header-container
		position fixed
		width 100%
		z-index 1000
	#hero
		height 100vh
		background-image url('../img/paris-hero.jpg')
		background-size cover
		background-position center top
		-webkit-background-attachment fixed
		background-attachment fixed
		-webkit-filter grayscale(1)
		-moz-filter grayscale(1)
		-ms-filter grayscale(1)
		-o-filter grayscale(1)
		filter grayscale(1)
	#about
		max-width 800px
		padding-top 70px
	#projects
		max-width 800px
		padding-top 70px
	.project-img
		max-width 800px
.ir
	background-color transparent
	border 0
	overflow hidden
.ir:before
	content ""
	display block
	width 0
	height 150%

.hidden
	display none !important
	visibility hidden

.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
	clip auto
	height auto
	margin 0
	overflow visible
	position static
	width auto

.invisible
	visibility hidden

.clearfix:before,
.clearfix:after
	content " "
	display table

.clearfix:after
	clear both

.clearfix
	*zoom 1

@media print
	* 
		background transparent !important
		color #000 !important
		box-shadow none !important
		text-shadow none !important
	a,
	a:visited
		text-decoration underline
	a[href]:after
		content " (" attr(href) ")"

	abbr[title]:after
		content " (" attr(title) ")"

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after
		content ""

	img
		page-break-inside avoid
	img
		max-width 100% !important
	@page
		margin 0.5cm
	p,
	h2,
	h3
		orphans 3
		widows 3
	h2,
	h3
		page-break-after avoid

